<div class="flex-fullscreen row justify-content-center align-items-center">
    <mat-card class="col-lg-3 col-md-3">
        <mat-card-title>Sign In</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form [formGroup]="signInFormgroup" class="padding-15">
                <div class="row">
                    <mat-form-field appearance='outline' class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                </div>
                <div class="row justify-content-center">
                    <button mat-raised-button color="primary" class="col-10" (click)="validateForm()">Sign In</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>