.bill-user-name{
    font-size: larger;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px;
}

.bill-user-email{
    font-size: small;
    color: gray;
    margin-top: 1px;
    margin-bottom: 1px;
}

.bill-status{
    font-weight: bold;
}

.acceptedBill{
    color: rgb(9, 147, 9);
}
  
.rejectedBill{
    color: rgb(201, 37, 70);
}
  