<!-- <h5>
    Bill Details
</h5>
<mat-dialog-content>
    <div class="padding-vertical-15">
        <app-key-value-display name="Name" value={{billData?.name}}></app-key-value-display>
        <app-key-value-display name="Description" value={{billData?.description}}></app-key-value-display>
        <app-key-value-display name="Amount" value={{billData?.amount}}></app-key-value-display>
        <app-key-value-display name="Manager Response" value={{getManagerResponse()}}></app-key-value-display>
        <app-key-value-display name="Admin Response" value={{getAdminResponse()}}></app-key-value-display>
        <button mat-button (click)="openFile()">Open bill file</button>
    </div>

    <h5>User Details</h5>
    <div class="padding-vertical-15">
        <app-key-value-display name="Name" value={{billData?.userData?.name}}></app-key-value-display>
        <app-key-value-display name="Role" value={{billData?.userData?.role}}></app-key-value-display>
        <app-key-value-display name="Email" value={{billData?.userData?.email}}></app-key-value-display>
    </div>

    <div class="row justify-content-around">
        <button mat-raised-button color="primary" (click)="updateBill(true)" *ngIf="isEligibleToUpdate()" class="col col-lg-3 col-4" [class.loading]="approveLoading" [disabled]="approveLoading || rejectLoading">
            Approve
        </button>
        <button mat-raised-button color="warn" (click)="updateBill(false)" *ngIf="isEligibleToUpdate()" class="col col-lg-3 col-4" [class.loading]="rejectLoading" [disabled]="approveLoading || rejectLoading" >
            Reject
        </button>
    </div>
</mat-dialog-content>
 -->
<mat-dialog-content>
    <h4 class="text-center padding-vertical-5">Bill and User Details</h4>
    <mat-divider></mat-divider>
    <div class="column padding-5">
        <div class="bill-user-name">
            {{billData?.userName}}
        </div>
        <div class="bill-user-email">
            {{billData?.userEmail}}
        </div>
    </div>
    <div class="padding-5">
        {{billData?.name}}. {{billData?.description}}
    </div>
    <div class="bill-status padding-5" [class.acceptedBill]="isAccepted()" [class.rejectedBill]="isRejected()">
        {{getStatus()}}
    </div>
    
    <div class="row justify-content-around margin-vertical-5">
        <button mat-raised-button (click)="updateBill(true)" class="col col-4 col-lg-3" color="primary" *ngIf="isEligibleToUpdate()" [class.loading]="approveLoading" [disabled]="approveLoading || rejectLoading">ACCEPT</button>
        <button mat-raised-button (click)="updateBill(false)" class="col col-4 col-lg-3" color="warn" *ngIf="isEligibleToUpdate()" [class.loading]="rejectLoading" [disabled]="approveLoading || rejectLoading">REJECT</button>
    </div>
    <!-- <mat-card-header>
        <mat-card-title>{{billData?.userData?.name}}</mat-card-title>
        <mat-card-subtitle>{{billData?.userData?.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{billData?.name}}</p>
        <p>{{billData?.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" *ngIf="isEligibleToUpdate()" [class.loading]="approveLoading"
            [disabled]="approveLoading || rejectLoading">ACCEPT</button>
        <button mat-raised-button color="warn" *ngIf="isEligibleToUpdate()" [class.loading]="rejectLoading"
            [disabled]="approveLoading || rejectLoading">REJECT</button>
    </mat-card-actions>
     -->
</mat-dialog-content>